apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskapp
  labels:
    app: flaskapp
    tier: frontend

spec:
  replicas: 3

  selector:
    matchLabels:
      app: flaskapp

  template:
    metadata:
      labels:
        app: flaskapp
        tier: frontend

    spec:
      containers:
      - name: frontend
        image: 435264620844.dkr.ecr.ap-south-1.amazonaws.com/project:latest
        ports:
        - containerPort: 5000
