apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
    tier: db

spec:
  replicas: 1

  selector:
    matchLabels:
      app: mysql

  template:
    metadata:
      labels:
        app: mysql
        tier: db

    spec:
      containers:
      - name: mysql
        image: 435264620844.dkr.ecr.ap-south-1.amazonaws.com/mysql:latest

        ports:
        - containerPort: 3306

        env:
        - name: MYSQL_ROOT_PASSWORD
          value: root123
