apiVersion: v1
kind: Service
metadata:
  name: flaskapp
  labels:
    app: flaskapp
spec:
  selector:
    app: frontend-app
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 31000
